.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .videos{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    width: 300px;
    height: 200px;
    @media screen and (min-width: 768px) {
      width: 350px;
      height: 250px;
    }
    a{
      width: 320px;
      height: auto;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin-bottom: 50px;
      @media screen and (min-width: 768px) {
        width: 350px;
        height: 250px;
      }
      video{
        width: 300px;
        height: 200px;
        object-fit: cover;
        z-index: 1;
        @media screen and (min-width: 768px) {
          width: 350px;
          height: 250px;
        }
      }
      p{
        color: black;
        font-weight: 600;
      }
    }
  }
}