.upload{
  input[type=file]{
    height: 50px;
    margin: 25px 0;
  }
  label{
    div{
      width: 150px;
      height: 50px;
      background: #00AAC1;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}